* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-size: 20px;
    height: 60px;

    text-align: center;

    background-color: steelblue;
}

nav {
    color: #fff;
    padding: 20px;
    display: block;
}

h1 {
    color: darkcyan;
}

a {
    text-decoration: none;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    border: 2px solid black;
    box-shadow: 0 0 10px #333;
    padding: 2px;
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/*W04*/
header,
main,
aside,
footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}