* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-size: 20px;
    height: 60px;

    text-align: center;

    background-color: steelblue;
}

nav {
    color: #fff;
    padding: 20px;
    display: block;
}

h1 {
    color: darkcyan;
}

a {
    text-decoration: none;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    border: 2px solid black;
    box-shadow: 0 0 10px #333;
    padding: 2px;
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}